body{
	margin: 0 0;
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #f2f2f2;
}

.center p{
	margin-block-start: 0;
	margin-block-end: 0;
}

#picture{
	width: min(40%, 280px);
	margin-left: 2px;
}

.header{
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	background-color: white;
	width: 100%;
	border-bottom: 1.5px solid black;
	border-top: 2px solid black;
}

.tab{
	display: flex;
	padding-left: 0;
}

.tab li{
	display: block;
	width: min(180px,22%);
	width: 33.3%;
	float: left;
}

nav a{
	background-color: red;
	border-radius: 0px;
	display: block;
	padding: 18px 0;
	text-align: center;
	color: white;
	text-decoration: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.left{
	border-left: 1px solid #fff;
}

.tab a:hover{
	background-color: pink;
}

@media screen and (max-width: 533px){
	nav a{
		font-size: 13px
	}
}

@media screen and (max-width: 420px){
	nav a{
		font-size: 11px;
	}
}

@media screen and (max-width: 388px){
	nav a{
		font-size: 11px;
	}
}

.center{
	display: block;
	background-color: #f2f2f2;
	width: clamp(250px, 60%, 400px);
	margin: 0 auto;

	border-radius: 2px;
	box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 1px 2px 0 rgb(0 0 0 / 24%);
}

.explanation{
	letter-spacing: 1px;
	font-size: clamp(12px, 1.4vw, 16px);
	padding: 3px 0;
	padding-left: 1px;
	background-color: white;
}

textarea{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	display: block;
	font-size: clamp(13px, 1.4vw, 15px);
	font: bold;
	letter-spacing: 1px;
}

.db_text{
	font-size: clamp(13px, 1.4vw, 15px);
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	margin: 1px 0;
	letter-spacing: 1px;
	background-color: white;
}

.template{
	margin-bottom: 2px;
}

.top{

	background-color: #444;
	font-size: 18px;
	color: white;
	padding: 10px 8px;
}

.db_datas{
	margin-top: 0;
}

.submit{
	width: 100%;
	height: 50px;
	font-size: x-large;
	border-radius: 10px;
	background-color: cyan;
	margin-bottom: 3px;
}

#form{
	margin: 0 0;
}

.date_text{
	color: blue;
}

h1{
	width: 100%;
}


#ul_tab{
	margin-top: 0;
}

#prepare{
	font-size: 10vw;
	text-align: center;
}

#name{
	text-align: end;
	margin: 0 0;
}
